<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/resources/css/about.css" rel="stylesheet">
    <title>About Semantic Web Search</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h2>Semantic Web Search</h2>
            <h4>Ghid de utilizare</h4>
        </header>
        <section id="body">
            <h4>De pe pagina principala reprezentata in figura de mai jos, se poate alege tipul cautarii: text, poze, video sau harti,
            apoi se insereaza cuvintele cheie pentru cautare.</h4>
            <img src="/resources/img/about/home.png" id="home" alt="Home page"/>

            <h4 style="clear: both;">&nbsp;</h4>
            <h4>Dupa introducerea textului, la o secunda diferenta, se vor afisa rezultatele. Daca la primul pas au fost selectate
            cel putin 2 tipuri de cautare, modalitatea de afisare va fi una de tip grid.
                Daca s-a selectat doar un tip, rezultatele se vor afisa liniar.</h4>
            <div class="two">
                <img src="/resources/img/about/grid.png" alt="Grid layout"/>
                <img src="/resources/img/about/linear.png" alt="Linear layout"/>
            </div>
            <h4 style="clear: both;">&nbsp;</h4>
            <h4>
            Dupa afisarea rezultatelor, prin apasarea unui buton (sageata jos) se va afisa un meniu din care se poate
            selecta modalitatea de afisare. Tot de aici se pot filtra datele in functie de tipul lor (img, text, video, harti)</h4>
            <img src="/resources/img/about/menu.png" id="menu" alt="menu"/>

            <h4 style="clear: both;">&nbsp;</h4>
            <h4>
            Fiecare raspuns afisat pune la dispozitia utilizatorului o modalitate de oferi feedback, prin cele 2 butoane de like/dislike.
            Totodata, utilizatorul are posibilitatea sa 'pin'-uiasca raspunsurile care ii se par folositoare pentru o vizualizare ulterioara.</h4>
            <img src="/resources/img/about/feedback.png" id="feedback" alt="menu"/>


        </section>
    </div>
</body>
</html>